<html>

<head>
</head>

<body>    
    <h1>
        Szczegóły o użytkowniku
    </h1>
    <table>
        <tr>
            <th>Id</th>
            <td>{{ user[0] }}</td>
        </tr>
        <tr>
            <th>Login</th>
            <td>{{ user[1] }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ user[2] }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ user[3] }}</td>
        </tr>
    </table>

    <br>
    <a href=/users>Lista użytkowników</a>
    <br>
    <a href=/logout>Logout</a>
</body>

</html>