<html>

<head>
</head>

<body>
    <h1>WITAJ ADMIN</h1>
    
    <h1>
        Users
    </h1>
    <table>
        <thead>
            <td>Id</td>
           <td>Login</td>
           <td>Password</td>
           <td>Type</td>
        </thead>
        
        {% for user in users %}
           <tr>
                <td><a href="{{ url_for('user_details_id', user_id=user[0]) }}">{{ user[0] }}</a></td>
                <td><a href="{{ url_for('user_details_name', user_name=user[1]) }}">{{ user[1] }}</a></td>  
              <td>{{user[2]}}</td>
              <td>{{user[3]}}</td>
           </tr>
        {% endfor %}
     </table>

    <h1>
        Add user
    </h1>
    <form method=post action="/add-user">
        Login: <input type=text name=login>
        Password: <input type=text name=password>
        Type: <input type=text name=type>
        <input type=submit>
    </form>
    <br>
    <a href=/>Strona główna</a>
    <br>
    <a href=/logout>Logout</a>
</body>

</html>